<div id="ai-sdk-decor-app"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var script = document.createElement("script");
        script.src = "https://ai-sdk-decor.vercel.app/embed.js";
        script.async = true;
        document.body.appendChild(script);
    });
</script>
